In [48]:
import sqlite3 as sq3

# Connecting To Database

In [49]:
conn = sq3.connect('database.sqlite3')
print(conn)
conn.close()

<sqlite3.Connection object at 0x000002931E4D1540>

# Create Table

In [50]:
with sq3.connect('database.sqlite3') as conn:
    cursor = conn.cursor()
    cursor.execute(
        """CREATE TABLE student(roll int PRIMARY KEY, name CHAR(25), age INT, email VARCHAR(30))"""
    )
    conn.commit()

# Adding ROWS

In [51]:
with sq3.connect('database.sqlite3') as conn:
    cursor = conn.cursor()
    cursor.execute(
        """INSERT INTO student VALUES(?,?,?,?)""", (4,
                                                    "Tessa young", 26, "tessa@yahoo.com")
    )
    conn.commit()

In [52]:
users = [(101, 'Alley Perry', 26, 'alley@yahoo.com'), 
         (102, 'John Smith', 27, 'john@gmail.com'),
         (103, "Alexa Jones", 23, "alexa@gmail.com"),
         (104, "Alley P", 26, "alley@yahoo.com"),
         (105, "John S", 27, "john@gmail.com")]
with sq3.connect('database.sqlite3') as conn:
    cursor = conn.cursor()
    cursor.executemany(
        """INSERT INTO student VALUES(?,?,?,?)""", users
    )
    conn.commit()

# SELECT info

In [53]:
with sq3.connect('database.sqlite3') as conn:
    cursor = conn.cursor()
    res = cursor.execute(
        """SELECT * FROM student""",
    )
    print(list(res))
    conn.commit()

[(4, 'Tessa young', 26, 'tessa@yahoo.com'), (101, 'Alley Perry', 26, 'alley@yahoo.com'), (102, 'John Smith', 27, 'john@gmail.com'), (103, 'Alexa Jones', 23, 'alexa@gmail.com'), (104, 'Alley P', 26, 'alley@yahoo.com'), (105, 'John S', 27, 'john@gmail.com')]

# Updating row

In [54]:
with sq3.connect('database.sqlite3') as conn:
    cursor = conn.cursor()
    cursor.execute(
        """UPDATE student SET roll=?, name=? WHERE roll=?""", (
            114, "Tessa John", 4,)
    )
    conn.commit()

# deleting a row

In [55]:
with sq3.connect('database.sqlite3') as conn:
    cursor = conn.cursor()
    cursor.execute(
        """DELETE FROM student WHERE roll=?""", (114,)
    )
    conn.commit()

# WHERE Clause

In [56]:
with sq3.connect('database.sqlite3') as conn:
    cursor = conn.cursor()
    res = cursor.execute(
        """SELECT * FROM student WHERE age>?""", (25,)
    )
    print(list(res))
    conn.commit()

[(101, 'Alley Perry', 26, 'alley@yahoo.com'), (102, 'John Smith', 27, 'john@gmail.com'), (104, 'Alley P', 26, 'alley@yahoo.com'), (105, 'John S', 27, 'john@gmail.com')]

# AND , OR, NOT, IN

In [57]:
with sq3.connect('database.sqlite3') as conn:
    cursor = conn.cursor()
    res = cursor.execute(
        """SELECT * FROM student WHERE age>? AND NOT roll>=?""", (25, 100)
    )
    print(list(res))
    conn.commit()

[]

# Wild Cards with LIKE

In [58]:
with sq3.connect('database.sqlite3') as conn:
    cursor = conn.cursor()
    res = cursor.execute(
        """SELECT * FROM student WHERE name LIKE '_%a'""", (25, 100)
    )
    print(list(res))
    conn.commit()

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 0, and there are 2 supplied.

# Aggregate Function

In [ ]:
with sq3.connect('database.sqlite3') as conn:
    cursor = conn.cursor()
    res = cursor.execute(
        """SELECT MAX(age), MIN(age), AVG(age), COUNT(*) FROM student""",
    )
    print(list(res))
    conn.commit()

[(27, 23, 25.5, 4)]

# Group BY

In [ ]:
with sq3.connect('database.sqlite3') as conn:
    cursor = conn.cursor()
    res = cursor.execute(
        """SELECT COUNT(*), age FROM student GROUP BY age""",
    )
    print(list(res))
    conn.commit()

[(2, 23), (3, 26), (2, 27)]

# ORDER BY

In [ ]:
with sq3.connect('database.sqlite3') as conn:
    cursor = conn.cursor()
    res = cursor.execute(
        """SELECT * FROM student ORDER BY age DESC,roll DESC"""
    )
    for user in res:
        print(user)
    conn.commit()

(105, 'John S', 27, 'john@gmail.com')
(102, 'John Smith', 27, 'john@gmail.com')
(104, 'Alley P', 26, 'alley@yahoo.com')
(101, 'Alley Perry', 26, 'alley@yahoo.com')
(103, 'Alexa Jones', 23, 'alexa@gmail.com')
(100, 'Alexa Smith', 23, 'alexa@gmail.com')

# Deleting Table

In [ ]:
with sq3.connect('database.sqlite3') as conn:
    cursor = conn.cursor()
    cursor.execute(
        """DROP TABLE student""",
    )
    conn.commit()

In [ ]:
# https://www.sqlite.org/lang.html

In [ ]:
# https://sqliteonline.com/